// Colors
$BGC1: #000;
$BGC2: #181818;
$BGC3: #232323;
$BGC4: #282828;
$BGC5: #242424;
$txtClr1: #ffffff;
$txtClr2: #B3B3B3;
$mainClr :#1FDF64;

$mainMargin: 24px;
$mainMarginNarrow: 20px;





// LAYOUT BREAKPOINTS
$break-narrow: 650px;
$break-normal: 900px;
$break-wide: 1200px;